# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# Generated projects (Samples)
app-test/
